In [133]:
#reading datasets from csv files
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np

#reading datasets from 
# "0_datasets/IHME_GBD_2019_HAQ_1990_2019_DATA_Y2022M012D21.CSV" and
# "0_datasets/IHME_HEALTH_SPENDING_1995_2019_Y2023M01D24.CSV"
HAQ = pd.read_csv("../0_datasets/IHME_GBD_2019_HAQ_1990_2019_DATA_Y2022M012D21.CSV")
HS = pd.read_csv("../0_datasets/IHME_HEALTH_SPENDING_1995_2019_Y2023M01D24.CSV")

In [143]:
v=dict()

In [137]:
# HAQ = HAQ[HAQ.age_group_id==27]
# # changing Türkiye to Turkey
# HAQ['location_name'] = HAQ['location_name'].replace('Türkiye','Turkey')
a=list(HAQ['location_name'].unique())
# HAQ.drop(['indicator_id','measure'], axis=1, inplace=True)
# len(HAQ['indicator_id'].unique())
# HAQ['indicator_name']=HAQ['indicator_name'].apply(lambda x:v[x])
HAQ.head()

,location_id,location_name,year_id,age_group_id,age_group_name,haq_index_age_type,indicator_id,indicator_name,measure,val,upper,lower
0,6,China,1990,27,Age-standardized,Overall,100,HAQ Index,Index,35.033943,38.778109,31.591303
1,6,China,1990,27,Age-standardized,Overall,297,Tuberculosis,Mortality-to-incidence ratios (MIR),0.151080,0.179177,0.126658
2,6,China,1990,27,Age-standardized,Overall,302,Diarrheal diseases,Mortality-to-incidence ratios (MIR),0.000377,0.000491,0.000291
3,6,China,1990,27,Age-standardized,Overall,322,Lower respiratory infections,Risk-standardised death rates (RSD),0.000904,0.001042,0.000768
4,6,China,1990,27,Age-standardized,Overall,328,Upper respiratory infections,Risk-standardised death rates (RSD),0.000019,0.000032,0.000002

In [146]:
# # Deleting the rows with location_name not in HAQ
# HS = HS[HS.location_name.isin(a)]
# HS['year'] = HS['year'].apply(lambda x: str(x)+'-01-01')
# HS.drop(['location_id', 'iso3','level'], axis=1, inplace=True)
# print titles of columns
# HS['location_name']=HS['location_name'].apply(lambda x:v[x])
HS

,location_name,year,the_total_mean,the_total_lower,the_total_upper,the_total_ppp_mean,the_total_ppp_lower,the_total_ppp_upper,ghes_total_mean,ghes_total_lower,...,ghes_per_gdp_upper,ppp_per_gdp_mean,ppp_per_gdp_lower,ppp_per_gdp_upper,oop_per_gdp_mean,oop_per_gdp_lower,oop_per_gdp_upper,dah_per_gdp_mean,dah_per_gdp_lower,dah_per_gdp_upper
300,1,1995-01-01,608734,474787,767041,2467501,1924547,3109193,17414,13913,...,0.004,0.000,0.000,0.000,0.106,0.076,0.140,0.001,0.001,0.001
301,1,1996-01-01,592811,463223,740928,2402954,1877670,3003345,16242,12848,...,0.004,0.000,0.000,0.000,0.100,0.073,0.132,0.001,0.001,0.001
302,1,1997-01-01,582298,464713,716514,2360340,1883710,2904386,14997,11833,...,0.004,0.000,0.000,0.000,0.100,0.072,0.130,0.003,0.002,0.003
303,1,1998-01-01,557514,451962,680263,2259877,1832024,2757442,14022,10998,...,0.003,0.000,0.000,0.000,0.099,0.074,0.126,0.001,0.001,0.001
304,1,1999-01-01,541317,447576,649116,2194223,1814248,2631188,12974,10276,...,0.003,0.000,0.000,0.000,0.098,0.072,0.123,0.002,0.002,0.002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,204,2015-01-01,2123352,1949509,2319958,2366135,2172416,2585221,587448,516524,...,0.021,0.018,0.014,0.022,0.018,0.015,0.022,0.012,0.012,0.012
5396,204,2016-01-01,1997881,1823072,2199310,2226318,2031522,2450778,586400,508705,...,0.021,0.018,0.014,0.023,0.017,0.014,0.021,0.009,0.009,0.009
5397,204,2017-01-01,1919499,1738035,2126907,2138974,1936761,2370097,592327,504936,...,0.020,0.016,0.012,0.021,0.015,0.012,0.018,0.009,0.008,0.009
5398,204,2018-01-01,1586199,1441307,1750225,1767565,1606105,1950345,457332,382986,...,0.015,0.012,0.009,0.015,0.010,0.008,0.012,0.010,0.010,0.010
5399,204,2019-01-01,822910,760142,895071,917001,847057,997413,175855,147053,...,0.006,0.005,0.004,0.007,0.005,0.004,0.006,0.009,0.009,0.009

In [148]:

try:
    connection = mysql.connector.connect(
        host='localhost',
        database='data_integ',
        user='root',
        password=''
    )
    cursor = connection.cursor()
    # printing the content of the database
    # cursor.execute("SELECT * FROM country")
    # result = cursor.fetchall()
    # for i in result:
    #     v[i[1]] = i[0]
    # # adding the the countries to the database
    # a=HAQ['indicator_name'].unique()
    # a.sort()
    # a= [(i+1,a[i]) for i in range(len(a))]
    # stat = "INSERT INTO indicator (id,name) VALUES (%s,%s)"
    # cursor.executemany(stat, a)
    # connection.commit()
    # HAQ dataframe to database
    
    values = []
    for i in range(len(HS)):
        lst=[str(x) for x in HS.iloc[i]]
        values.append((lst[0],lst[1],'34',lst[2],lst[3],lst[4]))
        values.append((lst[0],lst[1],'35',lst[5],lst[6],lst[7]))
        values.append((lst[0],lst[1],'36',lst[8],lst[9],lst[10]))
        values.append((lst[0],lst[1],'37',lst[11],lst[12],lst[13]))

        values.append((lst[0],lst[1],'38',lst[14],lst[15],lst[16]))

        values.append((lst[0],lst[1],'39',lst[17],lst[18],lst[19]))
        values.append((lst[0],lst[1],'40',lst[20],lst[21],lst[22]))
        values.append((lst[0],lst[1],'41',lst[23],lst[24],lst[25]))
        values.append((lst[0],lst[1],'42',lst[26],lst[26],lst[26]))
        values.append((lst[0],lst[1],'43',lst[27],lst[27],lst[27]))
        values.append((lst[0],lst[1],'44',lst[28],lst[29],lst[30]))

        values.append((lst[0],lst[1],'45',lst[31],lst[32],lst[33]))
        values.append((lst[0],lst[1],'46',lst[34],lst[35],lst[36]))
        values.append((lst[0],lst[1],'47',lst[37],lst[38],lst[39]))
        values.append((lst[0],lst[1],'48',lst[40],lst[41],lst[42]))
        values.append((lst[0],lst[1],'49',lst[43],lst[44],lst[45]))
        values.append((lst[0],lst[1],'50',lst[46],lst[47],lst[48]))
        values.append((lst[0],lst[1],'51',lst[49],lst[50],lst[51]))
        values.append((lst[0],lst[1],'52',lst[52],lst[52],lst[52]))
    
        values.append((lst[0],lst[1],'53',lst[54],lst[55],lst[56]))
        values.append((lst[0],lst[1],'54',lst[57],lst[58],lst[59]))
        values.append((lst[0],lst[1],'55',lst[60],lst[61],lst[62]))
        values.append((lst[0],lst[1],'56',lst[63],lst[64],lst[65]))
        values.append((lst[0],lst[1],'57',lst[66],lst[67],lst[68]))
        values.append((lst[0],lst[1],'58',lst[69],lst[70],lst[71]))
        values.append((lst[0],lst[1],'59',lst[72],lst[73],lst[74]))
        values.append((lst[0],lst[1],'60',lst[75],lst[76],lst[77]))
        values.append((lst[0],lst[1],'61',lst[78],lst[79],lst[80]))
        
    vall = []
    for x in values:
        # check if the last three values are a number and if not fill with the first value
        if x[3] != '-':
            vall.append((x[0],x[1],x[2],x[3],x[4] if x[4]!='-' else x[3],x[5] if x[5]!='-' else x[3]))


    # print(values)
    sql_stat = "INSERT INTO records (c_id, recording_date, ind_id, value, lower_value, upper_value) VALUES (%s,%s,%s,%s,%s,%s)"
    cursor.executemany(sql_stat, vall)
    connection.commit()
except Error as e:
    print("Error connecting to MySQL database", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()